@font-face {
  font-family: 'SeoulHangang';
  font-weight: 500;
  font-style: normal;
  src: url('https://cdn.jsdelivr.net/gh/webfontworld/seoul/SeoulHangangMedium.eot');
  src: url('https://cdn.jsdelivr.net/gh/webfontworld/seoul/SeoulHangangMedium.eot?#iefix') format('embedded-opentype'),
    url('https://cdn.jsdelivr.net/gh/webfontworld/seoul/SeoulHangangMedium.woff2') format('woff2'),
    url('https://cdn.jsdelivr.net/gh/webfontworld/seoul/SeoulHangangMedium.woff') format('woff'),
    url('https://cdn.jsdelivr.net/gh/webfontworld/seoul/SeoulHangangMedium.ttf') format("truetype");
  font-display: swap;
}

@font-face {
  font-family: 'SeoulHangang';
  font-weight: 300;
  font-style: normal;
  src: url('https://cdn.jsdelivr.net/gh/webfontworld/seoul/SeoulHangangLight.eot');
  src: url('https://cdn.jsdelivr.net/gh/webfontworld/seoul/SeoulHangangLight.eot?#iefix') format('embedded-opentype'),
    url('https://cdn.jsdelivr.net/gh/webfontworld/seoul/SeoulHangangLight.woff2') format('woff2'),
    url('https://cdn.jsdelivr.net/gh/webfontworld/seoul/SeoulHangangLight.woff') format('woff'),
    url('https://cdn.jsdelivr.net/gh/webfontworld/seoul/SeoulHangangLight.ttf') format("truetype");
  font-display: swap;
}