* {
  margin: 0;
  padding: 0;
  font-family: 'SeoulHangang';
  font-size: 14px;
}

body {
  width: 100%;
}

h2,
h4,
h3,
p {
  font-weight: 300;
  color: rgb(84, 71, 65);
}

strong {
  font-weight: 700;
}

h2 {
  font-size: 20px;
}

h2,
h3 {
  line-height: 24px;
}


h4 {
  font-size: 20px;
}

p {
  line-height: 24px;
}

.pink {
  color: #f08da0;
}

.divider {
  width: 100%;
  height: 1px;
  background-color: #000;
  margin: 32px 0;
}

.container {
  max-width: 464px;
  margin: 0 auto;
}

main {
  width: 100%;
  position: relative;
}

section {
  padding: 48px 24px;
}

.heart {
  height: 15px;
  width: 8px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  margin-top: 3px;
  margin-bottom: 0;
  outline: none;
}

.heart::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: -4px;
  width: 8px;
  height: 13px;
  border-radius: 50px 50px 0 0;
  transform: rotate(-48deg);
  background-color: #524741;
}

.heart::after {
  content: '';
  position: absolute;
  bottom: 0px;
  width: 8px;
  height: 13px;
  border-radius: 50px 50px 0 0;
  transform: rotate(48deg);
  background-color: #524741;
}

i {
  display: block;
  width: 100%;
  text-align: center;
  margin-top: 24px;
}

.main-background {
  width: 100%;
}

.main-img {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.main-background {
  z-index: -2;
  vertical-align: top;
}

.main-img {
  z-index: -3;
}

.main-date {
  position: absolute;
  top: 8%;
  width: 100%;
  text-align: center;
}

.main-text {
  position: absolute;
  bottom: 10%;
  width: 100%;
  text-align: center;
}

.invite-section {
  background-color: #fdf8f4;
}

.come-section {
  background-color: #fdf8f4;
}