* {
  margin: 0;
  padding: 0;
  font-family: 'SeoulHangang';
  font-size: 14px;
}

body {
  width: 100%;
}

ul,
li {
  list-style: none;
}

h2,
h4,
h3,
p {
  font-weight: 300;
  color: rgb(84, 71, 65);
}

strong {
  font-weight: 700;
}

h2 {
  font-size: 20px;
}

h2,
h3 {
  line-height: 24px;
}


h4 {
  font-size: 20px;
}

p {
  line-height: 24px;
}

.pink {
  color: #f08da0;
}

.divider {
  width: 100%;
  height: 1px;
  background-color: #ddd0c7;
  margin: 32px 0;
}

.container {
  max-width: 464px;
  margin: 0 auto;
}

main {
  width: 100%;
  position: relative;
}

section {
  padding: 48px 24px;
}

.heart {
  height: 15px;
  width: 8px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  margin-top: 3px;
  margin-bottom: 0;
  outline: none;
}

.heart::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: -4px;
  width: 8px;
  height: 13px;
  border-radius: 50px 50px 0 0;
  transform: rotate(-48deg);
  background-color: #524741;
}

.heart::after {
  content: '';
  position: absolute;
  bottom: 0px;
  width: 8px;
  height: 13px;
  border-radius: 50px 50px 0 0;
  transform: rotate(48deg);
  background-color: #524741;
}

i {
  display: block;
  width: 100%;
  text-align: center;
  margin-top: 24px;
}

.main-background {
  width: 100%;
}

.main-img {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.main-background {
  z-index: -2;
  vertical-align: top;
}

.main-img {
  z-index: -3;
}

.main-date {
  position: absolute;
  top: 8%;
  width: 100%;
  text-align: center;
}

.main-text {
  position: absolute;
  bottom: 10%;
  width: 100%;
  text-align: center;
}

.invite-section {
  background-color: #fdf8f4;
}

.come-section {
  background-color: #fdf8f4;
}

.more-img-btn {
  margin: 0 auto;
  border: 1px solid #988678;
  height: 45px;
  width: 100%;
  text-align: center;
  background-color: #fff;
}

#tags {
  display: flex;
  align-items: center;
  gap: 4px;
  margin-bottom: 8px;
}

#tags>li {
  border-radius: 10px;
  padding: 4px 8px 2px;
}

#tags>li.active {
  background-color: #ffe5df;
}

#gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  height: 500px;
  overflow: auto;
}

#gallery li {
  width: 32%;
}

#gallery li img {
  width: 100%;
  vertical-align: top;
  transition: all .5s;
  animation-name: slide-left;
}

#modal {
  position: fixed;
  display: none;
  top: -100px;
  left: 0;
  right: 0;
  bottom: -100px;
  z-index: 100;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, .4);
}

.arrow {
  position: fixed;
  right: 16px;
  top: 50%;
  width: 12px;
  background-color: #fff;
  border-radius: 50%;
  padding: 8px;
}

.left {
  right: auto;
  left: 16px;
  rotate: 180deg;
}

.gallery-img {
  width: 100%;
}

.hidden {
  visibility: hidden;
}

@keyframes slide-left {
  0% {
    transform: translateX(-50%);
  }

  100% {
    transform: translateX(-100%);
  }
}